  <!-- Card to show previous posts and applicable comments  -->
  <!-- All rendered through handlebar utility functions -->
  {{#if blogs.length}}
  <div class="blog-list col-10">
    {{#each blogs as |blog|}}
      <div class="card-body text-white bg-secondary mb-3" id="existing-posts">
        <div class="card-title">
          <h5 ><a class="text-reset" href="/api/blog/{{blog.id}}">{{blog.title}}</a>
          <p class="card-title float-right">By {{blog.user.username}} on {{format_date created_on}}</p>
        </div>
        <div class="card-text">
          <p>{{blog.content}}</p>
          <button class="btn btn-outline-light btn-sm view-blog-btn" type="submit" data-id="{{blog.id}}">View Blog</button>
          {{!-- {{#if blog.is_author}}
            <button class="btn btn-outline-light btn-sm" type="submit" id="update-blog-btn" data-id="{{blog.id}}">Update Blog</button>
            <button class="btn btn-outline-light btn-sm" type="submit" id="delete-blog-btn" data-id="{{blog.id}}">Delete Blog</button>
          {{/if}} --}}
        </div>
      </div>
    {{/each}}

    {{#if comments.length}}
    <div class="card-footer existing-comments">
        {{#each comments as |comment|}}
          <small class="text-muted">
            {{comment.user.username}} commented: <a class="text-reset" href="/api/comment/{{comment.id}}">{{comment.text}}</a>
          </small>
        {{/each}}
        {{/if}}
        {{#if logged_in}}
          <button class="btn btn-outline-light" id="add-comment-btn" data-id="{{blog.id}}">Add Comment</button>
        {{/if}}
      </div>
  </div>
  {{/if}}

<script src="/js/blog.js"></script>
<script src="/js/comment.js"></script>