  <!-- Card to show previous posts and applicable comments  -->
  <!-- All rendered through handlebar utility functions -->
  <div class="dashboard-div col-10">
    {{#if blogs.length}}
    <div class="blog-list">
      {{#each blogs as |blog|}}
      <div class="card-body text-white bg-secondary mb-3" id="existing-posts">
        <div class="card-title">
          <h5 ><a class="text-reset" href="/api/blog/{{blog.id}}">{{blog.title}}</a>
          <p class="card-title float-right">By {{blog.user.username}} on {{format_date created_on}}</p>
        </div>
        <div class="card-text">
          <p>{{blog.content}}</p>
          <p>To view this blog click the title!</p>
          {{#if blog.is_author}}
          <button class="btn btn-outline-light btn-sm" id="delete-blog-btn" data-id="{{blog.id}}">Delete Blog</button>
          {{/if}}
        </div>
      </div>
      {{#if comments.length}}
      {{#each comments as |comment|}}
      <div class="card-body col-10 existing-comments">
        <small class="text-muted">
          {{comment.user.username}} commented: <a class="text-reset" href="/api/comment/{{comment.id}}">{{comment.text}}</a>
        </small>
      {{/each}}
      {{/if}}
      {{/each}}
      </div>
    </div>
    {{/if}}
  </div>

<script src="/js/blog.js"></script>
<script src="/js/comment.js"></script>