  <!-- Card to show previous posts and applicable comments  -->
  <!-- All rendered through handlebar utility functions -->
  {{#if blogs.length}}
  <div class="blog-list">
    {{#each blogs as |blog|}}
      <div class="card-body text-white bg-secondary mb-3" id="existing-posts">
        <h5 class="card-title">On {{blog.created_on}} {{blog.user.username}} blogged: <a class="text-reset" href="/blog/{{blog.id}}">{{blog.title}}</a></h5>  
        <p class="card-text">{{blog.content}}</p>
        <button class="btn btn-md" id="view-blog-btn" data-id="{{blog.id}}">View Blog</button>
        {{#if blog.is_author}}
          <button class="btn btn-md" id="update-blog-btn" data-id="{{blog.id}}">Update Blog</button>
          <button class="btn btn-md" id="delete-blog-btn" data-id="{{blog.id}}">Delete Blog</button>
        {{/if}}
      </div>
    {{/each}}

    {{#if comments.length}}
    <div class="card-footer existing-comments">
        {{#each comments as |comment|}}
          <small class="text-muted">
            {{comment.user.username}} commented: <a class="text-reset" href="/comment/{{comment.id}}">{{comment.text}}</a>
          </small>
        {{/each}}
        {{/if}}
        {{#if logged_in}}
          <button class="btn btn-md" id="add-comment-btn" data-id="{{blog.id}}">Add Comment</button>
        {{/if}}
      </div>
  </div>
  {{/if}}


<script src="/js/dashboard.js"></script>