<!-- Card to show previous posts and applicable comments  -->
<!-- All rendered through handlebar utility functions -->
{{#if blogs.length}}
<div class="card-body blog-list">
  {{#each blogs as |blog|}}
  <div class="row">
    <div class="col-lg-12" id="existing-posts">
        
      <h5>On {{blog.created_on}} {{blog.user.username}} blogged: <a href="/blog/{{blog.id}}"></a>
          {{blog.title}} {{blog.content}} </h5>
      {{#if logged_in}}
      <button class="btn btn-md" id="add-comment-btn" data-id="{{blog.id}}">Add Comment</button>
      {{/if}}
   
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

<script src="/js/dashboard.js"></script>
