<!-- Card to show previous posts and applicable comments  -->
<!-- All rendered through handlebar utility functions -->
  {{#if blogs.length}}
    <div class=" blog-list col-10">
    {{#each blogs as |blog|}}
    <div class="card-body text-white bg-secondary mb-3" id="existing-posts">
      <div class="card-title">
        <h5>
          {{#if logged_in}}
          <a class="text-reset" href="/api/blog/{{blog.id}}"> 
          {{/if}}
          {{blog.title}}
          </a>
        </h5>
        <p class="card-title float-right">
          By {{blog.user.username}} on {{format_date created_on}}
        </p>
      </div>
      <div class="card-text">
        <p>{{blog.content}}</p>
        {{#if logged_in}}
        <button class="btn btn-outline-light btn-sm" type="submit" id="view-blog-btn" data-id="{{blog.id}}">
          View Blog
        </button>
        <button class="btn btn-outline-light btn-sm" type="submit" id="add-comment-btn" data-id="{{blog.id}}">Add Comment</button>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

<script src="/js/blog.js"></script>
<script src="/js/comment.js"></script>