<!-- Card to show previous posts and applicable comments  -->
<!-- All rendered through handlebar utility functions -->
  {{#if blogs.length}}
    <div class="blog-list">
    {{#each blogs as |blog|}}
    <div class="card-body text-white bg-secondary mb-3" id="existing-posts">
      <h5 class="card-title">On {{blog.created_on}} {{blog.user.username}} blogged: <a href="/blog/{{blog.id}}" {{blog.title}}></a></h5>  
      <p class="card-text">{{blog.content}}</p>
      {{#if logged_in}}
      <button class="btn btn-md" id="add-comment-btn" data-id="{{blog.id}}">Add Comment</button>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}

<script src="/js/dashboard.js"></script>
